---
import MainLayout from "../layouts/MainLayout.astro";
import Navbar from "../components/Navbar.astro";
import RoomCard from "../components/RoomCard.astro";
import { getRoomBookings } from "../lib/bookingslib";

import { site } from "../data/site";
import { rooms } from "../data/rooms";

// 👉 on récupère les bookings pour chaque room AVANT le render
const roomsWithBookings = await Promise.all(
  rooms.map(async (room) => {
    const bookings = await getRoomBookings(room.id);

    return {
      ...room,
      bookings,
    };
  })
);
---
---

<MainLayout
  title={`Chambres | ${site.name}`}
  description="Découvrez nos chambres d'hôtes en Vendée"
>

  <Navbar />

  <!-- HERO -->
  <section class="text-center py-16 px-4">
    <h1 class="text-4xl md:text-6xl font-serif mb-4">
      Nos Chambres
    </h1>

    <p class="text-stone-600 max-w-2xl mx-auto">
      Nous vous proposons deux chambres pour vous reposer dans notre établissement
    </p>
  </section>

  <main>
  {roomsWithBookings.map((room) => {
    console.log("ROOM RENDER:", room.id);

    return (
      <section class="mb-16">
        <RoomCard room={room} />
      </section>
    );
  })}
</main>
</MainLayout>