---
import MainLayout from "../layouts/MainLayout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import { site } from "../data/site";
import IntroSection from "../components/IntroSection.astro";
import Footer from "../components/Footer.astro";
import Badge from "../components/Badge.astro";
---

<MainLayout
  title={site.seo.homeTitle}
  description={site.seo.homeDescription}
>

  <Navbar />

  <Hero />

  <main class="max-w-4xl mx-auto py-16 px-6">

	<Badge/>
	<IntroSection />
  </main>

  <Footer/>
</MainLayout>