---
import { site } from "../data/site";
---

<footer
 class="bg-stone-900 text-white py-8 mt-20"
>
    <div class="max-w-6xl mx-auto px-6 text-center">

        {site.footer.text}

    </div>
</footer>